<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
    <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="view/app.js"></script>
</head>
<body>
<div class="container">
    <div ng-app="app" ng-controller="ContactCtrl">
        <br/>
        <h2>Your contacts book</h2>
        <br/>
        <table class="table">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th></th>
                <th></th>
            </tr>
            <tbody ng-repeat="contact in Contacts | orderBy: '+id'">
            <tr style="height: 90px">
                <td>
                    <input class="form-control" type="text" ng-model="contact.firstName"/>
                    <span class="red-text" ng-show="checkEmpty(contact.firstName)">First Name is required</span>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="contact.lastName"/>
                    <span class="red-text" ng-show="checkEmpty(contact.lastName)">Last Name is required</span>
                </td>
                <td>
                    <input class="form-control" type="tel" ng-model="contact.phone"/>
                    <span class="red-text" ng-show="checkEmpty(contact.phone)">Phone number is required</span>
                    <span class="red-text" ng-show="!checkPhone(contact.phone)">Please enter a 10 digit number</span>
                </td>
                <td>
                    <input class="btn btn-primary mb-2" type="button"
                           ng-disabled="checkContact(contact)"
                           ng-click="updateContact(contact.id, contact.firstName, contact.lastName, contact.phone)"
                           value="Edit">
                </td>
                <td><input class="btn btn-primary mb-2" type="button" ng-click="deleteContact(contact.id)"
                           value="Remove"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#myModal">Add New Contact
        </button>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <form name="addForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add New Contact</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input placeholder="First Name" name="firstName" class="form-control" type="text"
                                       ng-model="contact.firstName" ng-required="true"/>
                                <span id="firstNameMessage" class="red-text"
                                      ng-if="addForm.firstName.$error.required && addForm.firstName.$dirty">First Name is required</span>
                            </div>

                            <div class="form-group">
                                <input placeholder="Last Name" name="lastName" class="form-control" type="text"
                                       ng-model="contact.lastName" ng-required="true"/>
                                <span id="lastNameMessage" class="red-text"
                                      ng-if="addForm.lastName.$error.required && addForm.lastName.$dirty">Last Name is required</span>
                            </div>

                            <div class="form-group">
                                <input placeholder="10 digit numbers" name="phone" class="form-control" type="text"
                                       ng-model="contact.phone" ng-pattern="ph_numbr" ng-required="true"/>
                                <span id="phoneMessage" class="red-text" ng-if="addForm.phone.$error.required && addForm.phone.$dirty">Phone number is required</span>
                                <span class="red-text"
                                      ng-show="addForm.phone.$error.pattern">Please enter a 10 digit number</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary mb-2" data-dismiss="modal" ng-click="addContact()" onclick="addForm.reset()"
                                    ng-disabled="addForm.$invalid">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addForm.reset()">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>